<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Woo Ninja</title>
	<atom:link href="https://rscard.px-lab.com/student/product/woo-ninja-2/feed/" rel="self" type="application/rss+xml" />
	<link>https://rscard.px-lab.com/student/product/woo-ninja-2/</link>
	<description>Just another Rs Card Sites site</description>
	<lastBuildDate>Fri, 07 Jun 2013 15:56:24 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.2</generator>
	<item>
		<title>By: Maria</title>
		<link>https://rscard.px-lab.com/student/product/woo-ninja-2/#comment-15</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:53:13 +0000</pubDate>
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=47#comment-15</guid>
		<description><![CDATA[Perfect for the lady Ninja in your life!]]></description>
		<content:encoded><![CDATA[<p>Perfect for the lady Ninja in your life!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Cobus Bester</title>
		<link>https://rscard.px-lab.com/student/product/woo-ninja-2/#comment-14</link>
		<dc:creator><![CDATA[Cobus Bester]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 11:57:59 +0000</pubDate>
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=47#comment-14</guid>
		<description><![CDATA[This hoodie is great for those chilly winter days. I love the WooNinja!]]></description>
		<content:encoded><![CDATA[<p>This hoodie is great for those chilly winter days. I love the WooNinja!</p>
]]></content:encoded>
	</item>
</channel>
</rss>
