<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Singles &#8211; Student</title>
	<atom:link href="https://rscard.px-lab.com/student/product-category/music/singles/feed/" rel="self" type="application/rss+xml" />
	<link>https://rscard.px-lab.com/student</link>
	<description>Just another Rs Card Sites site</description>
	<lastBuildDate>Wed, 22 Nov 2017 12:33:30 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.2</generator>
	<item>
		<title>Woo Single #2</title>
		<link>https://rscard.px-lab.com/student/product/woo-single-2/</link>
		<comments>https://rscard.px-lab.com/student/product/woo-single-2/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 11:38:12 +0000</pubDate>
		<dc:creator><![CDATA[Rs Card Demos multi]]></dc:creator>
		
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=99</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>https://rscard.px-lab.com/student/product/woo-single-2/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>Woo Single #1</title>
		<link>https://rscard.px-lab.com/student/product/woo-single-1/</link>
		<comments>https://rscard.px-lab.com/student/product/woo-single-1/#respond</comments>
		<pubDate>Fri, 07 Jun 2013 11:36:34 +0000</pubDate>
		<dc:creator><![CDATA[Rs Card Demos multi]]></dc:creator>
		
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=93</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>https://rscard.px-lab.com/student/product/woo-single-1/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
