<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Woo Album #3</title>
	<atom:link href="https://rscard.px-lab.com/student/product/woo-album-3/feed/" rel="self" type="application/rss+xml" />
	<link>https://rscard.px-lab.com/student/product/woo-album-3/</link>
	<description>Just another Rs Card Sites site</description>
	<lastBuildDate>Fri, 07 Jun 2013 15:56:24 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.2</generator>
	<item>
		<title>By: Coen Jacobs</title>
		<link>https://rscard.px-lab.com/student/product/woo-album-3/#comment-37</link>
		<dc:creator><![CDATA[Coen Jacobs]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 12:22:07 +0000</pubDate>
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=90#comment-37</guid>
		<description><![CDATA[This album gets a bit boring after you\&#039;ve listened to it more than once. Worth that first listen though.]]></description>
		<content:encoded><![CDATA[<p>This album gets a bit boring after you\&#8217;ve listened to it more than once. Worth that first listen though.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
