<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Woo Logo</title>
	<atom:link href="https://rscard.px-lab.com/student/product/woo-logo-2/feed/" rel="self" type="application/rss+xml" />
	<link>https://rscard.px-lab.com/student/product/woo-logo-2/</link>
	<description>Just another Rs Card Sites site</description>
	<lastBuildDate>Fri, 07 Jun 2013 15:56:24 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.2</generator>
	<item>
		<title>By: Maria</title>
		<link>https://rscard.px-lab.com/student/product/woo-logo-2/#comment-28</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:54:25 +0000</pubDate>
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=60#comment-28</guid>
		<description><![CDATA[Three letters, one word: WOO!]]></description>
		<content:encoded><![CDATA[<p>Three letters, one word: WOO!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Magnus</title>
		<link>https://rscard.px-lab.com/student/product/woo-logo-2/#comment-27</link>
		<dc:creator><![CDATA[Magnus]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 12:04:33 +0000</pubDate>
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=60#comment-27</guid>
		<description><![CDATA[I like the logo but not the color.]]></description>
		<content:encoded><![CDATA[<p>I like the logo but not the color.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
