<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Ship Your Idea</title>
	<atom:link href="https://rscard.px-lab.com/student/product/ship-your-idea-2/feed/" rel="self" type="application/rss+xml" />
	<link>https://rscard.px-lab.com/student/product/ship-your-idea-2/</link>
	<description>Just another Rs Card Sites site</description>
	<lastBuildDate>Fri, 07 Jun 2013 15:56:24 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.2</generator>
	<item>
		<title>By: Maria</title>
		<link>https://rscard.px-lab.com/student/product/ship-your-idea-2/#comment-13</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:53:31 +0000</pubDate>
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=40#comment-13</guid>
		<description><![CDATA[Ship it!]]></description>
		<content:encoded><![CDATA[<p>Ship it!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Ryan</title>
		<link>https://rscard.px-lab.com/student/product/ship-your-idea-2/#comment-12</link>
		<dc:creator><![CDATA[Ryan]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 13:24:52 +0000</pubDate>
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=40#comment-12</guid>
		<description><![CDATA[This hoodie gets me lots of looks while out in public, I got the blue one and it\&#039;s awesome. Not sure if people are looking at my hoodie only, or also at my rocking bod.]]></description>
		<content:encoded><![CDATA[<p>This hoodie gets me lots of looks while out in public, I got the blue one and it\&#8217;s awesome. Not sure if people are looking at my hoodie only, or also at my rocking bod.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Stuart</title>
		<link>https://rscard.px-lab.com/student/product/ship-your-idea-2/#comment-11</link>
		<dc:creator><![CDATA[Stuart]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 13:03:29 +0000</pubDate>
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=40#comment-11</guid>
		<description><![CDATA[Another great quality product that anyone who see\&#039;s me wearing has asked where to purchase one of their own.]]></description>
		<content:encoded><![CDATA[<p>Another great quality product that anyone who see\&#8217;s me wearing has asked where to purchase one of their own.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
