<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Woo Album #4</title>
	<atom:link href="https://rscard.px-lab.com/student/product/woo-album-4/feed/" rel="self" type="application/rss+xml" />
	<link>https://rscard.px-lab.com/student/product/woo-album-4/</link>
	<description>Just another Rs Card Sites site</description>
	<lastBuildDate>Fri, 07 Jun 2013 15:56:24 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.2</generator>
	<item>
		<title>By: Coen Jacobs</title>
		<link>https://rscard.px-lab.com/student/product/woo-album-4/#comment-39</link>
		<dc:creator><![CDATA[Coen Jacobs]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 12:21:30 +0000</pubDate>
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=96#comment-39</guid>
		<description><![CDATA[Some rad tunes on this album!]]></description>
		<content:encoded><![CDATA[<p>Some rad tunes on this album!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: James Koster</title>
		<link>https://rscard.px-lab.com/student/product/woo-album-4/#comment-38</link>
		<dc:creator><![CDATA[James Koster]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 11:44:50 +0000</pubDate>
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=96#comment-38</guid>
		<description><![CDATA[The most influential album of the last 25 years? This just might be it.]]></description>
		<content:encoded><![CDATA[<p>The most influential album of the last 25 years? This just might be it.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
