<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>T-shirts &#8211; Student</title>
	<atom:link href="https://rscard.px-lab.com/student/product-category/clothing/t-shirts/feed/" rel="self" type="application/rss+xml" />
	<link>https://rscard.px-lab.com/student</link>
	<description>Just another Rs Card Sites site</description>
	<lastBuildDate>Wed, 22 Nov 2017 12:33:30 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.2</generator>
	<item>
		<title>Happy Ninja</title>
		<link>https://rscard.px-lab.com/student/product/happy-ninja/</link>
		<comments>https://rscard.px-lab.com/student/product/happy-ninja/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 10:53:15 +0000</pubDate>
		<dc:creator><![CDATA[Rs Card Demos multi]]></dc:creator>
		
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=37</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>https://rscard.px-lab.com/student/product/happy-ninja/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>Woo Ninja</title>
		<link>https://rscard.px-lab.com/student/product/woo-ninja/</link>
		<comments>https://rscard.px-lab.com/student/product/woo-ninja/#respond</comments>
		<pubDate>Fri, 07 Jun 2013 10:52:06 +0000</pubDate>
		<dc:creator><![CDATA[Rs Card Demos multi]]></dc:creator>
		
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=34</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>https://rscard.px-lab.com/student/product/woo-ninja/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Ninja Silhouette</title>
		<link>https://rscard.px-lab.com/student/product/ninja-silhouette/</link>
		<comments>https://rscard.px-lab.com/student/product/ninja-silhouette/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 10:49:51 +0000</pubDate>
		<dc:creator><![CDATA[Rs Card Demos multi]]></dc:creator>
		
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=31</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>https://rscard.px-lab.com/student/product/ninja-silhouette/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Ship Your Idea</title>
		<link>https://rscard.px-lab.com/student/product/ship-your-idea/</link>
		<comments>https://rscard.px-lab.com/student/product/ship-your-idea/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 10:46:01 +0000</pubDate>
		<dc:creator><![CDATA[Rs Card Demos multi]]></dc:creator>
		
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=22</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>https://rscard.px-lab.com/student/product/ship-your-idea/feed/</wfw:commentRss>
		<slash:comments>3</slash:comments>
		</item>
		<item>
		<title>Premium Quality</title>
		<link>https://rscard.px-lab.com/student/product/premium-quality/</link>
		<comments>https://rscard.px-lab.com/student/product/premium-quality/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 10:41:52 +0000</pubDate>
		<dc:creator><![CDATA[Rs Card Demos multi]]></dc:creator>
		
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=19</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>https://rscard.px-lab.com/student/product/premium-quality/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>Woo Logo</title>
		<link>https://rscard.px-lab.com/student/product/woo-logo/</link>
		<comments>https://rscard.px-lab.com/student/product/woo-logo/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 10:35:51 +0000</pubDate>
		<dc:creator><![CDATA[Rs Card Demos multi]]></dc:creator>
		
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=15</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>https://rscard.px-lab.com/student/product/woo-logo/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
