<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments for Student</title>
	<atom:link href="https://rscard.px-lab.com/student/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://rscard.px-lab.com/student</link>
	<description>Just another Rs Card Sites site</description>
	<lastBuildDate>Fri, 07 Jun 2013 15:56:24 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.2</generator>
	<item>
		<title>Comment on Woo Ninja by Maria</title>
		<link>https://rscard.px-lab.com/student/product/woo-ninja-3/#comment-35</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:56:24 +0000</pubDate>
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=76#comment-35</guid>
		<description><![CDATA[He really is the cutest little man. Swoooon!]]></description>
		<content:encoded><![CDATA[<p>He really is the cutest little man. Swoooon!</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Premium Quality by Maria</title>
		<link>https://rscard.px-lab.com/student/product/premium-quality-2/#comment-34</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:55:29 +0000</pubDate>
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=73#comment-34</guid>
		<description><![CDATA[I didn\&#039;t expect this poster to arrive folded. Now there are lines on the poster and one sad Ninja.]]></description>
		<content:encoded><![CDATA[<p>I didn\&#8217;t expect this poster to arrive folded. Now there are lines on the poster and one sad Ninja.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Woo Logo by Maria</title>
		<link>https://rscard.px-lab.com/student/product/woo-logo-2/#comment-28</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:54:25 +0000</pubDate>
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=60#comment-28</guid>
		<description><![CDATA[Three letters, one word: WOO!]]></description>
		<content:encoded><![CDATA[<p>Three letters, one word: WOO!</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Ninja Silhouette by Maria</title>
		<link>https://rscard.px-lab.com/student/product/ninja-silhouette-2/#comment-25</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:53:56 +0000</pubDate>
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=56#comment-25</guid>
		<description><![CDATA[This only gets 1 star because I don\&#039;t have this yet. I want it now!]]></description>
		<content:encoded><![CDATA[<p>This only gets 1 star because I don\&#8217;t have this yet. I want it now!</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Ship Your Idea by Maria</title>
		<link>https://rscard.px-lab.com/student/product/ship-your-idea-2/#comment-13</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:53:31 +0000</pubDate>
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=40#comment-13</guid>
		<description><![CDATA[Ship it!]]></description>
		<content:encoded><![CDATA[<p>Ship it!</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Woo Ninja by Maria</title>
		<link>https://rscard.px-lab.com/student/product/woo-ninja-2/#comment-15</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:53:13 +0000</pubDate>
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=47#comment-15</guid>
		<description><![CDATA[Perfect for the lady Ninja in your life!]]></description>
		<content:encoded><![CDATA[<p>Perfect for the lady Ninja in your life!</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Woo Single #2 by Maria</title>
		<link>https://rscard.px-lab.com/student/product/woo-single-2/#comment-41</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:52:48 +0000</pubDate>
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=99#comment-41</guid>
		<description><![CDATA[Can’t wait to start mixin’ with this one! Irba-irr-Up-up-up-up-date your theme!]]></description>
		<content:encoded><![CDATA[<p>Can’t wait to start mixin’ with this one! Irba-irr-Up-up-up-up-date your theme!</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Happy Ninja by Maria</title>
		<link>https://rscard.px-lab.com/student/product/happy-ninja-2/#comment-20</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:50:22 +0000</pubDate>
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=53#comment-20</guid>
		<description><![CDATA[I love grey hoodies! This is perfect with my grey Ninja shirt, when I get cold I throw this on and I can still be a Ninja.]]></description>
		<content:encoded><![CDATA[<p>I love grey hoodies! This is perfect with my grey Ninja shirt, when I get cold I throw this on and I can still be a Ninja.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Happy Ninja by Maria</title>
		<link>https://rscard.px-lab.com/student/product/happy-ninja/#comment-10</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:49:53 +0000</pubDate>
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=37#comment-10</guid>
		<description><![CDATA[Love this shirt! The ninja near and dear to my heart. &#060;3]]></description>
		<content:encoded><![CDATA[<p>Love this shirt! The ninja near and dear to my heart. &lt;3</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Ninja Silhouette by Ryan</title>
		<link>https://rscard.px-lab.com/student/product/ninja-silhouette-2/#comment-24</link>
		<dc:creator><![CDATA[Ryan]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 13:26:40 +0000</pubDate>
		<guid isPermaLink="false">https://demo.woothemes.com/woocommerce/?post_type=product&#038;p=56#comment-24</guid>
		<description><![CDATA[This is the most bombastic hoodie in this shop, it\&#039;s soft and has the sly WooThemes ninja on it. Why wouldn\&#039;t you buy this?]]></description>
		<content:encoded><![CDATA[<p>This is the most bombastic hoodie in this shop, it\&#8217;s soft and has the sly WooThemes ninja on it. Why wouldn\&#8217;t you buy this?</p>
]]></content:encoded>
	</item>
</channel>
</rss>
